* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container__greeting {
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container__greeting > p {
    margin: 0 5px;
}

.container__greeting > button {
    margin: 0 5px;
}